<a href="https://colab.research.google.com/github/SimranaSinha/Python_Projects/blob/main/Python_Code_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Write a Program for:***

# **Program 1**

Print "Hello World!"

In [1]:
print("Hello World!")

Hello World!

# **Program 2**

Arithmatic Operation addition and division

In [18]:
# Addition
num1= float(input("Enter a first number: "))
num2= float(input("Enter a second number: "))
sum_result= num1 + num2
print(f"sum:{num1}+{num2}={sum_result}")

Enter a first number: 2
Enter a second number: 3
sum:2.0+3.0=5.0

In [19]:
from __future__ import division
# Divison
num3= float(input("Enter a divident number: "))
num4= float(input("Enter a divisor number: "))
if num4 == 0:
  print("Error: Division by zero not valid")
else:
  div_result= num3/num4
  print(f"division:{num3}/{num4}={div_result}")

Enter a divident number: 20
Enter a divisor number: 5
division:20.0/5.0=4.0

# **Program 3**

Find the area of Triangle

In [16]:
# Input the base and height of the Triangle
base = float(input("Enter the base: "))
height = float(input("Enter the height: "))

# Calculate the area of the Triangle
area = 0.5 * base * height

# Display the result
print(f"The area of the Triangle is: {area}")

Enter the base: 5
Enter the height: 10
The area of the Triangle is: 25.0

# **Program 4**

Swap two variable

In [15]:
# Input two variables
a = input("Enter the value of first variable(a): ")
b = input("Enter the value of second variable(b): ")

# Display the original values
print(f"Original Values: a = {a} , b= {b}")

# Swap the values using a temporary variable
temp = a
a = b
b = temp

# Display the temp values
print(f"Swapped Values: a = {a} , b= {b}")

Enter the value of first variable(a): 5
Enter the value of second variable(b): 7
Original Values: a = 5 , b= 7
Swapped Values: a = 7 , b= 5

# **Program 5**

Generate a random number

In [14]:
import random
print(f"Random Values: {random.randint(1,100)}")

Random Values: 73

# **Program 6**

Convert Kilometer to miles

In [22]:
kilometers = float(input("Enter the value in kilometer: "))

# Conversion factor: 1 kilometer = 0.621371 miles
conversion_factor = 0.621371

miles = kilometers * conversion_factor
print(f"{kilometers} kilometer = {miles} miles")

Enter the value in kilometer: 100
100.0 kilometer = 62.137100000000004 miles

# **Program 7**

Convert Celsius to Fahrenheit

In [23]:
celsius = float(input("Enter the temp in Celsius: "))

# Conversion formula: Fahrenheit = (Celsius * 9/5)+ 32
fahrenheit = (celsius * 9/5)+ 32

miles = kilometers * conversion_factor
print(f"{celsius} Celsius = {fahrenheit} Fahrenheit")

Enter the temp in Celsius: 25
25.0 Celsius = 77.0 Fahrenheit

# **Program 8**

Display Calendar

In [25]:
import calendar

year = int(input("Enter Year: "))
month =int(input("Enter Month: "))

cal = calendar.month(year,month)
print(cal)

Enter Year: 2001
Enter Month: 7
     July 2001
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31